.checkmark {
    cursor: pointer;
}

.radio {
    width: 25px;
    height: 25px;
    border-radius: 25%;
}
.checkbox {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

/*Döp om .section till "section-radio, om det går"*/
.section { 
    position:relative;
    padding:5px;
    margin-left:25px;
}

    .section input[type="radio"],
    .section input[type="checkbox"] {
        display: none;
    }

    .container label {
        position: relative;
    }

    /* Base styles for spans */
    .container span::before,
    .container span::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    /* Radio buttons */
    .container span.radio:hover {
        cursor: pointer;
    }

    .container span.radio::before {
        left: -52px;
        width: 45px;
        height: 25px;
        background-color: #eeeeee; /*Bakgrundfärg*/
        border-radius: 50px;
    }

    .container span.radio::after {
        left: -49px;
        width: 17px;
        height: 17px;
        border-radius: 10px;
        background-color: #808080; /*Radioknappens färg innan checked*/
        transition: left .25s, background-color .25s;
    }

input[type="radio"]:checked + label span.radio::after {
    left: -27px;
    background-color: #2259e9; /*Radioknappens färg efter checked*/
}
