<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    @*Egen css*@
    <link href="~/Shared/Styles/StyleLayout.css" rel="stylesheet" />

</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg nav1">
        <a class="navbar-brand navButton" href="#">Hem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color:white" class="navbar-toggler-icon">&equiv;</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link navButton" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navButton" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navButton" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu navButton" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item navButton" href="#">Action</a>
                        <a class="dropdown-item navButton" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item navButton" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn searchButton my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
<div style="margin-top:56px" class="container body-content">
    @RenderBody()
    
</div>

<footer>
    <p>&copy; @DateTime.Now.Year - Grafisk design demo</p>
</footer>
<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-50px";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
</body>
</html>
