
@{
    ViewBag.Title = "Grafisk grid demo";
    Layout = "~/Views/Shared/_LayoutPageShared.cshtml";
}
<link href="~/Shared/Styles/StyleGeneral.css" rel="stylesheet" />

<h1 style="color:antiquewhite">Grafisk grid demo</h1>
<br />
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card h-100 shadowEffect">
            <img src="https://billetto.co.uk/blog/wp-content/uploads/2019/11/hanny-naibaho-aWXVxy8BSzc-unsplash-1024x683.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100 shadowEffect">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/The_Event_2010_Intertitle.svg/1200px-The_Event_2010_Intertitle.svg.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 shadowEffect">
            <img src="https://www.kuoni-meetings-events.com/wp-content/uploads/2019/08/events1.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://takaevents.com/images/mch-group-live-marketing-aktivierung.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 shadowEffect">
            <img src="https://billetto.co.uk/blog/wp-content/uploads/2019/11/hanny-naibaho-aWXVxy8BSzc-unsplash-1024x683.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100 shadowEffect">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/The_Event_2010_Intertitle.svg/1200px-The_Event_2010_Intertitle.svg.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 shadowEffect">
            <img src="https://www.kuoni-meetings-events.com/wp-content/uploads/2019/08/events1.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://takaevents.com/images/mch-group-live-marketing-aktivierung.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go somewhere</a>
            </div>
        </div>
    </div>
</div>